<footer>
    <div class="date">12 DEC, 2021</div>
    <div class="place">GREEN AVENUE, UK</div>
    <div class="eventDesc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo nisi doloribus architecto!</div>
    <div class="btnBuyTickets"><button class="joinUs"><a href="#">Buy Tickets</a></button></div>
    <p class="copyright"> Copyright ©2020 All Rights Reserved | Site by <a href="#" target="_self">Lea Mae</a></p>
</footer>