
    <header class="header_nr_mh">
        <div class="menu-wrap_nr_mh">
            <img src="images/a.png" class="logo-img_nr_mh" alt="Logo">
            <input type="checkbox" id="checkbox">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/organizer">Organizer</a></li>
                    <li><a href="/programs">Program</a></li>
                    <li><a href="/about">About</a></li>
                    <li><button class="joinUs"><a href="#">Buy Tickets</a></button></li>
                </ul>
            </nav>
            <label for="checkbox">
                <i class="fa fa-bars menu-icon_nr_mh"></i>
            </label>
        </div>
    </header>