<div class="cross">
        <div class="text">
            <H1 id="text1">ORGANIZER</H1>
            <p id="text2">
                LEA MAE CARREON.
            </p> <br>
            <p id="text3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia optio magni voluptatem ipsam sit inventore temporibus, excepturi ipsa, error necessitatibus amet incidunt? Aliquid, vero animi? Iusto amet veritatis aperiam unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellendus iure, culpa quibusdam ipsam pariatur officiis consectetur. Accusamus, modi unde, corporis, vel sit dicta ea quasi vitae illum deserunt aliquam.
            </p>
        </div>
        <div class="im">
            <img src="images/organizer.jpg" alt="SHAPE UP" width="550" height="400">
        </div>
</div>