<!-- Programs -->
<div class="programDetails">
    <p>PROGRAM DETAILS</p>
    
    <div class="detailsCard">
        <div class="cardImg">
            <img src="https://images.unsplash.com/photo-1508948956644-0017e845d797?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=617&q=80"
                alt="">
        </div>

        <div class="cardContent">
            <div class="cardHeading">Sart of Event</div>
            <div class="cardDesc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel tempora soluta optio, suscipit fuga perferendis consequatur ut laudantium qui itaque quod iure nostrum maxime omnis quas quis dolores eaque. Quae!</div>
            <div class="eventTime">
                <div class="icon"></div>
                <div class="time">10.00 am - 12.20 pm</div>
            </div>
        </div>
    </div>

    <div class="detailsCard">
        <div class="cardImg">
            <img src="https://images.unsplash.com/photo-1527526029430-319f10814151?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                alt="">
        </div>

        <div class="cardContent">
            <div class="cardHeading">Break</div>
            <div class="cardDesc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel tempora soluta optio, suscipit fuga perferendis consequatur ut laudantium qui itaque quod iure nostrum maxime omnis quas quis dolores eaque. Quae!</div>
            <div class="eventTime">
                <div class="icon"></div>
                <div class="time">12.20 pm - 12.50 pm</div>
            </div>
        </div>
    </div>
</div>
<!-- Programs -->