<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Bad Request</title>

    {{!-- 404 --}}
    <link rel="stylesheet" href="/css/404.css">
    {{!-- 404 --}}


</head>

<body id="bg_gs_mh">
    <div id="greeting">
        <p id="heading_gs_mh">404 Bad Request.</p>
        <h2 id="para_gs_mh">Sorry we couldn't find the page. <br> Looks like the page is taking a rest day.</h2>
        <h3 id="link_gs_mh">Back To <a href="/">Home</a></h3>
    </div>
</body>

</html>