<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>About</title>

    <!-- Nav -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navBar.css">
    <!-- Nav -->

    <!-- About -->
    <link href="css/about.css" rel="stylesheet">
    <!-- About -->

    <!-- Info -->
    <link rel="stylesheet" href="css/footer.css">
    <!-- Info -->

</head>

<body>
    <!-- Nav -->
    {{>navBar}}
    <!-- Nav -->

    <!-- About -->
    <div class="abs_at_dj programsMain_at_dj">
        <P class="label_at_dj">ABOUT US</P>
        <p class="paraa_at_dj"><a href="/">HOME</a><span> > </span>ABOUT US</p>
    </div>

    <div class="who_at_dj">
        <h2><strong>WHO WE ARE & WHAT WE DO</strong></h2>
        <p class="para_at_dj">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas iusto, quaerat nam veritatis exercitationem doloremque hic sint quo mollitia molestias libero, autem omnis nobis! Doloremque, nostrum voluptatum? Ea, id officia nemo voluptatibus qui perspiciatis sed rerum doloribus placeat perferendis, eos obcaecati quasi quas distinctio culpa, beatae nulla ullam quae saepe?
        </p>
        <img src="https://images.unsplash.com/photo-1510613439354-64547973b449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" alt="about">
    </div>
    <div class="info_at_dj">
        <div>
            <img alt="asset" src="https://images.unsplash.com/photo-1619333774340-3a878585c2e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
        </div>

        <div>
            <h6 id="about_at_dj">ABOUT OUR ORGANIZATION </h6>
            <h3 id="data_at_dj">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ex eum a.</h3>
            <p class="para_at_dj">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid non esse maxime quod? Non a, beatae neque numquam tempore dolor?</p>
            <h6 id="graph_at_dj">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda dolorum, quae ipsam repellendus itaque sequi suscipit. Qui sint ea molestiae dolores eum distinctio voluptatem?</h6>
        </div>
    </div>
    <!-- About -->

    <!-- Info -->
    {{>footer}}
    <!-- Info -->

</body>

</html>