<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Organizer</title>

	<!-- Nav -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navBar.css">
    <!-- Nav -->
	
	<!-- time-table -->
	<link rel="stylesheet" href="css/time_css.css">
	<link rel="stylesheet" href="css/organizer.css">
	<!-- time-table -->

    <!-- Info -->
    <link rel="stylesheet" href="css/footer.css">
    <!-- Info -->
</head>

<body>
	<!-- Nav -->
	{{>navBar}}
	<!-- Nav -->

	<!-- organizer -->

	<div class="Main">
        <P class="label">ORGANIZER</P>
        <p class="para"><a href="/">HOME</a> > ORGANIZER</p>
    </div>

	{{>organizer}}
	
	<!-- organizer -->

	<!-- Info -->
    {{>footer}}
    <!-- Info -->
	
</body>
</html>
