<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>

    <!-- Nav -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navBar.css">
    <!-- Nav -->

    <!-- Programs -->
    <link rel="stylesheet" href="css/programs.css">
    <!-- Programs -->

    <!-- Info -->
    <link rel="stylesheet" href="css/footer.css">
    <!-- Info -->

</head>

<body>
    <!-- Nav -->
    {{>navBar}}
    <!-- Nav -->

    <!-- Programs -->
    <div class="Main">
        <P class="label">PROGRAM DETAILS</P>
        <p class="para"><a href="/">HOME</a><span> > </span>PROGRAM DETAILS</p>
    </div>

    {{>programs}}
    <!-- Programs -->

    <!-- Info -->
    {{>footer}}
    <!-- Info -->
</body>

</html>